{% extends 'main.html' %}

{% block content %}


<!--class PasswordResetView has a built-in Form-->

<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">
            <a class="backButton" href="{% url 'account' %}"><i class="im im-angle-left"></i></a>
            <h3>Password reset complete</h3>
            <p>Your password has been set. You may go ahead and log in now.</p>
            <br>
            <a href="{% url 'login' %}">Login</a>
        </div>
    </div>
</main>

{% endblock %}